body{
    background:#CEE5D0;

    }
    hr{
        background:#f6f7eb;  
        border-style: none;
        border-top-style: dotted;
        border-color: grey;
        border-width: 5px;
        width: 5%;
    }
    img
    {
        height: 110px;
        width: 120px;

    }
    h1{
        color:#525E75;
    }
    h2{
        color:#D885A3;
    }